body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("amogus.png");
    width: 100%;
}

.title h1, p {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 20px red;
    font-size: 50px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

p {
    font-size: 40px;
    text-shadow: 0 0 20px lawngreen;
    margin-bottom: 30px;
}

.container {
    border: 20px solid #181BA3;
    display: flex;
    flex-wrap: wrap;
    width: 552px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px white;
}

.square {
    width: 60px;
    height: 60px;
    background-color: red;
    border: 2px solid black;
    transition: background-color 0.2s;
}

.hovered {
    background-color: lawngreen;
}

.restart-btn {
    background-color: #181BA3;
    color: white;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin-top: 50px;
    padding: 20px 30px 20px 30px;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 10px 5px white;
    border-radius: 30px;
    transition: box-shadow 0.3s, padding 0.3s, border-radius 0.3s, font-size 0.3s;
}

.restart-btn:hover {
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0 0 20px 10px red;
    font-size: 30px;
}